body {
  text-align: center;
}

button {
  width: 100px;
  height: 100px;
}

.boaed-row {
  font-size: xx-large;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
